.admin-home {
  background-image: url('images/admin1.jpg');
  background-size: cover; 
  background-position: center; 
  height: 90vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
  padding: 10px;
}
